<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d62e5e3c-04d0-4168-9416-7c1e0b40bb94" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d62e5e3c-04d0-4168-9416-7c1e0b40bb94fileName">REST-Service-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>